* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(90deg, black 40%, #1c1c1c 55%)
}

/* ========================
          NAV
======================== */

nav {

    letter-spacing: 2px;
    line-height: 1.6;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

nav a {
    transition: 500ms;
    color: white;
    font-size: 1.5rem;
    margin-left: 3rem;
    text-decoration: none;
    background-color: black;
    cursor: pointer;
    text-shadow: 1px 1px 1px #f7f7f7;
}

nav img {
    max-width: 200px;
    background-color: black;
    margin: 5px;
    margin-left: auto;

}

nav a:hover,
nav a:active {
    color: yellow;
    text-shadow: none;
}

section {
    display: flex;
    justify-content: flex-start;
    letter-spacing: 2px;
    line-height: 1.5;
}

/* =====
project
====== */

.project {

    color: white;
    border: 5px solid rgba(20, 20, 20, 0.719);
    border-radius: 10px;
    margin: 3rem 3rem;
    display: flex;
    flex-direction: column;
    transition: transform .2s;
}


.project:hover {
    transform: scale(1.2)
}


.project img {
    margin: 0 auto;
    display: block;
    max-width: 310px;
}



.project h3 {
    font-size: 1.5rem;
    margin: 1rem auto;
}

.project .info {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
}



.project .info .link {
    display: flex;
    justify-content: space-between;
}

.project .info .link a {
    margin-right: 10px;
    text-decoration: none;
    color: yellow;
}




















/* =====
  Cv HTML
====== */

.main {
    display: flex;
    margin: auto;
    width: 80%;
}
.cv {
    transition: transform .2s;
    display: block;
    max-width: 100%;
    margin: auto;
}


.cv:hover{
    transform: scale(1.2)
}
.download {
    height: 200px;
    max-width: 200px;
}